$gvs-dark-blue: (
  lighter: #D6D6E8,
  light: #B2B2C3,
  default: #9292A2,
  dark: #6A6A79,
  darker: #565665
);

$gvs-red: create-palette(red);

$gvs-green: create-palette(#00FF00);

$gvs-blue: create-palette(#0000FF);

$gvs-states: (
      'hover': rgba(223, 227, 232, 0.3),
      'focused': rgba(223, 227, 232, 0.3),
      'active': rgba(179, 188, 245, 0.1),
      'selected': rgba(179, 188, 245, 0.15),
      'subdued': rgba(249, 250, 251, 1),
      'disabled': rgba(249, 250, 251, 1)
    ),
