<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Downloading Mac and Windows apps</string>
				<key>url</key>
				<string>https://support.zeplin.io/quick-start/downloading-mac-and-windows-apps</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Creating a project</string>
				<key>url</key>
				<string>https://support.zeplin.io/quick-start/creating-a-project</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting designs from Sketch</string>
				<key>url</key>
				<string>https://support.zeplin.io/quick-start/exporting-designs-from-sketch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting designs from Adobe XD CC</string>
				<key>url</key>
				<string>https://support.zeplin.io/quick-start/exporting-designs-from-adobe-xd-cc</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting designs from Figma</string>
				<key>url</key>
				<string>https://support.zeplin.io/quick-start/exporting-designs-from-figma</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting designs from Photoshop</string>
				<key>url</key>
				<string>https://support.zeplin.io/quick-start/exporting-designs-from-photoshop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Collaborating with your team</string>
				<key>url</key>
				<string>https://support.zeplin.io/quick-start/collaborating-with-your-team</string>
			</dict>
		</array>
		<key>name</key>
		<string>Quick Start</string>
		<key>url</key>
		<string>https://support.zeplin.io/quick-start</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Changing units</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/changing-units</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Creating a project from the web app</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/creating-a-project-from-the-web-app</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Supported versions</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/supported-versions</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Working with percentage values</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/working-with-percentage-values</string>
			</dict>
			<dict>
				<key>name</key>
				<string>All the measurements are wrong, half/twice the size!</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/all-the-measurements-are-wrong-halftwice-the-size</string>
			</dict>
			<dict>
				<key>name</key>
				<string>All downloaded screens are twice the size!</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/all-downloaded-screens-are-twice-the-size</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting CSS and HTML</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/exporting-css-and-html</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Transferring a project</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/transferring-a-project</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Sending invoices</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/sending-invoices</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Adding a project to Slack</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/adding-a-project-to-slack</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Using Zeplin on Linux</string>
				<key>url</key>
				<string>https://support.zeplin.io/faq/using-zeplin-on-linux</string>
			</dict>
		</array>
		<key>name</key>
		<string>FAQ</string>
		<key>url</key>
		<string>https://support.zeplin.io/faq</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Keep up to date on your projects with the Slack integration</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/keep-up-to-date-on-your-projects-with-the-slack-integration</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Creating an account</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/creating-an-account</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Choosing the correct project type and density</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/choosing-the-correct-project-type-and-density</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Adding a teammate to a project</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/adding-a-teammate-to-a-project</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Use Quick Look to preview thumbnails</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/use-quick-look-to-preview-thumbnails</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Renaming a project</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/renaming-a-project</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Changing project thumbnail</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/changing-project-thumbnail</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Archiving a project</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/archiving-a-project</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Activating an archived project</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/activating-an-archived-project</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Comparing app/website with designs using Pop Out</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/comparing-appwebsite-with-designs-using-pop-out</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Updating a screen</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/updating-a-screen</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Storing screen versions</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/storing-screen-versions</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Staying up to date with notifications</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/staying-up-to-date-with-notifications</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Organizing Styleguide colors</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/organizing-styleguide-colors</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting grids (layouts) from Sketch or Photoshop</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/exporting-grids-layouts-from-sketch-or-photoshop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Downloading screens as images</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/downloading-screens-as-images</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Downloading all available assets in a screen</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/downloading-all-available-assets-in-a-screen</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Moving screens between projects</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/moving-screens-between-projects</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Sharing App URIs</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/sharing-app-uris</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Sharing designs and styleguide publicly</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/sharing-designs-and-styleguide-publicly</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Assigning roles to project members on Free, Starter and Growing Business plans</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/assigning-roles-to-project-members-on-free-starter-and-growing-business-plans</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Organizing screens with Sections</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/organizing-screens-with-sections</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Filtering screens using Tags</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/filtering-screens-using-tags</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Using Sections and Tags to organize screens</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/using-sections-and-tags-to-organize-screens</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Adjusting Slack preferences in a project</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/adjusting-slack-preferences-in-a-project</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Enabling the Zeplin Power-up on Trello</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/enabling-the-zeplin-power-up-on-trello</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Developing iOS projects using Zeplin</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/developing-ios-projects-using-zeplin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Developing Web projects using Zeplin</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/developing-web-projects-using-zeplin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Developing Android projects using Zeplin</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/developing-android-projects-using-zeplin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting React Native code snippets</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/exporting-react-native-code-snippets</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Removing a user from a project</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/removing-a-user-from-a-project</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Changing color formats</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/changing-color-formats</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Deleting a screen</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/deleting-a-screen</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Deleting a project</string>
				<key>url</key>
				<string>https://support.zeplin.io/zeplin-101/deleting-a-project</string>
			</dict>
		</array>
		<key>name</key>
		<string>Zeplin 101 🤓</string>
		<key>url</key>
		<string>https://support.zeplin.io/zeplin-101</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Exporting assets from Sketch</string>
				<key>url</key>
				<string>https://support.zeplin.io/sketch-integration/exporting-assets-from-sketch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting assets from symbols in Sketch</string>
				<key>url</key>
				<string>https://support.zeplin.io/sketch-integration/exporting-assets-from-symbols-in-sketch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting colors from Sketch</string>
				<key>url</key>
				<string>https://support.zeplin.io/sketch-integration/exporting-colors-from-sketch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting text styles from Sketch</string>
				<key>url</key>
				<string>https://support.zeplin.io/sketch-integration/exporting-text-styles-from-sketch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>⌘E in Sketch doesn’t work!</string>
				<key>url</key>
				<string>https://support.zeplin.io/sketch-integration/e-in-sketch-doesnt-work</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting components from Sketch</string>
				<key>url</key>
				<string>https://support.zeplin.io/sketch-integration/exporting-components-from-sketch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Installing Sketch plugin</string>
				<key>url</key>
				<string>https://support.zeplin.io/sketch-integration/installing-sketch-plugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Fixing Sketch export issues</string>
				<key>url</key>
				<string>https://support.zeplin.io/sketch-integration/fixing-sketch-export-issues</string>
			</dict>
			<dict>
				<key>name</key>
				<string>It takes too long to export artboards from Sketch!</string>
				<key>url</key>
				<string>https://support.zeplin.io/sketch-integration/it-takes-too-long-to-export-artboards-from-sketch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Organizing components using Sections and Groups</string>
				<key>url</key>
				<string>https://support.zeplin.io/sketch-integration/organizing-components-using-sections-and-groups</string>
			</dict>
		</array>
		<key>name</key>
		<string>Sketch Integration</string>
		<key>url</key>
		<string>https://support.zeplin.io/sketch-integration</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Setting up proxy for Adobe XD CC integration on Windows</string>
				<key>url</key>
				<string>https://support.zeplin.io/adobe-xd-cc-integration/setting-up-proxy-for-adobe-xd-cc-integration-on-windows</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Exporting assets from Adobe XD CC</string>
				<key>url</key>
				<string>https://support.zeplin.io/adobe-xd-cc-integration/exporting-assets-from-adobe-xd-cc</string>
			</dict>
		</array>
		<key>name</key>
		<string>Adobe XD CC Integration</string>
		<key>url</key>
		<string>https://support.zeplin.io/adobe-xd-cc-integration</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Exporting assets from Figma</string>
				<key>url</key>
				<string>https://support.zeplin.io/figma-integration/exporting-assets-from-figma</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Fixing Figma export timeout issues</string>
				<key>url</key>
				<string>https://support.zeplin.io/figma-integration/fixing-figma-export-timeout-issues</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Setting up proxy for Figma integration on Windows</string>
				<key>url</key>
				<string>https://support.zeplin.io/figma-integration/setting-up-proxy-for-figma-integration-on-windows</string>
			</dict>
		</array>
		<key>name</key>
		<string>Figma Integration</string>
		<key>url</key>
		<string>https://support.zeplin.io/figma-integration</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Exporting assets from Photoshop</string>
				<key>url</key>
				<string>https://support.zeplin.io/photoshop-integration/exporting-assets-from-photoshop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Working with artboards in Photoshop</string>
				<key>url</key>
				<string>https://support.zeplin.io/photoshop-integration/working-with-artboards-in-photoshop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Keeping groups together in Photoshop</string>
				<key>url</key>
				<string>https://support.zeplin.io/photoshop-integration/keeping-groups-together-in-photoshop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Installing Photoshop plugin on Mac</string>
				<key>url</key>
				<string>https://support.zeplin.io/photoshop-integration/installing-photoshop-plugin-on-mac</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Setting up proxy for Photoshop plugin on Mac</string>
				<key>url</key>
				<string>https://support.zeplin.io/photoshop-integration/setting-up-proxy-for-photoshop-plugin-on-mac</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Installing Photoshop plugin on Windows</string>
				<key>url</key>
				<string>https://support.zeplin.io/photoshop-integration/installing-photoshop-plugin-on-windows</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Setting up proxy for Photoshop plugin on Windows</string>
				<key>url</key>
				<string>https://support.zeplin.io/photoshop-integration/setting-up-proxy-for-photoshop-plugin-on-windows</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Fixing “No user slices” issue</string>
				<key>url</key>
				<string>https://support.zeplin.io/photoshop-integration/fixing-no-user-slices-issue</string>
			</dict>
		</array>
		<key>name</key>
		<string>Photoshop Integration</string>
		<key>url</key>
		<string>https://support.zeplin.io/photoshop-integration</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Keyboard shortcuts for the Windows and Web app</string>
				<key>url</key>
				<string>https://support.zeplin.io/tips-and-tricks/keyboard-shortcuts-for-the-windows-and-web-app</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Keyboard shortcuts for the Mac app</string>
				<key>url</key>
				<string>https://support.zeplin.io/tips-and-tricks/keyboard-shortcuts-for-the-mac-app</string>
			</dict>
		</array>
		<key>name</key>
		<string>Tips &amp; Tricks</string>
		<key>url</key>
		<string>https://support.zeplin.io/tips-and-tricks</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Component limitations by plan</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/component-limitations-by-plan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Choosing a subscription plan</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/choosing-a-subscription-plan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Upgrading, downgrading or cancelling your plan</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/upgrading-downgrading-or-cancelling-your-plan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Transferring a subscription</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/transferring-a-subscription</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Updating invoice and billing information</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/updating-invoice-and-billing-information</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Version limits</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/version-limits</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Setting a billing email</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/setting-a-billing-email</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Organization plan</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/organization-plan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Vendor details for Zeplin</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/vendor-details-for-zeplin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Adding organization members</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/organization/adding-organization-members</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Assigning roles to organization members</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/organization/assigning-roles-to-organization-members</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Restricting organization members</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/organization/restricting-organization-members</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Updating organization profile and billing information</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/organization/updating-organization-profile-and-billing-information</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Grouping organization members by tags</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/organization/grouping-organization-members-by-tags</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Removing organization members</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/organization/removing-organization-members</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Transferring an organization</string>
				<key>url</key>
				<string>https://support.zeplin.io/pricing-and-plans/organization/transferring-an-organization</string>
			</dict>
		</array>
		<key>name</key>
		<string>Pricing &amp; Plans</string>
		<key>url</key>
		<string>https://support.zeplin.io/pricing-and-plans</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Fixing connectivity issues</string>
				<key>url</key>
				<string>https://support.zeplin.io/access-and-security/fixing-connectivity-issues</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Fixing “Failed to extract installer” issue</string>
				<key>url</key>
				<string>https://support.zeplin.io/access-and-security/fixing-failed-to-extract-installer-issue</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Fixing “Access to resources is denied” issue</string>
				<key>url</key>
				<string>https://support.zeplin.io/access-and-security/fixing-access-to-resources-is-denied-issue</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Fixing “Request Timeout” issue</string>
				<key>url</key>
				<string>https://support.zeplin.io/access-and-security/fixing-request-timeout-issue</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Fixing “Request failed: forbidden (403)” issue</string>
				<key>url</key>
				<string>https://support.zeplin.io/access-and-security/fixing-request-failed-forbidden-403-issue</string>
			</dict>
		</array>
		<key>name</key>
		<string>Access &amp; Security</string>
		<key>url</key>
		<string>https://support.zeplin.io/access-and-security</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Resend verification email</string>
				<key>url</key>
				<string>https://support.zeplin.io/profile/resend-verification-email</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Forgot password</string>
				<key>url</key>
				<string>https://support.zeplin.io/profile/forgot-password</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Updating email and username</string>
				<key>url</key>
				<string>https://support.zeplin.io/profile/updating-email-and-username</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Setting your profile picture</string>
				<key>url</key>
				<string>https://support.zeplin.io/profile/setting-your-profile-picture</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Updating credit card</string>
				<key>url</key>
				<string>https://support.zeplin.io/profile/updating-credit-card</string>
			</dict>
		</array>
		<key>name</key>
		<string>Profile</string>
		<key>url</key>
		<string>https://support.zeplin.io/profile</string>
	</dict>
	<dict>
		<key>articles</key>
		<array>
			<dict>
				<key>name</key>
				<string>Data encryption at rest and in transit</string>
				<key>url</key>
				<string>https://support.zeplin.io/privacy-and-security/data-encryption-at-rest-and-in-transit</string>
			</dict>
			<dict>
				<key>name</key>
				<string>How Zeplin uses personal information</string>
				<key>url</key>
				<string>https://support.zeplin.io/privacy-and-security/how-zeplin-uses-personal-information</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Types of personal information in Zeplin</string>
				<key>url</key>
				<string>https://support.zeplin.io/privacy-and-security/types-of-personal-information-in-zeplin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Data Processing Addendum, or DPA</string>
				<key>url</key>
				<string>https://support.zeplin.io/privacy-and-security/data-processing-addendum-or-dpa</string>
			</dict>
		</array>
		<key>name</key>
		<string>Privacy &amp; Security</string>
		<key>url</key>
		<string>https://support.zeplin.io/privacy-and-security</string>
	</dict>
</array>
</plist>
