<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DockBadgePreference</key>
	<integer>1</integer>
	<key>GridViewHidden</key>
	<true/>
	<key>UpdateScreens</key>
	<true/>
	<key>SketchExportScale</key>
	<integer>2</integer>
	<key>OverlayStaysInFront</key>
	<false/>
	<key>OverlayOpacity</key>
	<real>0.75</real>
	<key>InstallPhotoshopPluginAutomatically</key>
	<true/>
	<key>VersionsSplitViewSubviewWidth</key>
	<integer>300</integer>
	<key>PlayDownloadSoundEffectPreference</key>
	<integer>1</integer>
</dict>
</plist>
