// a/m/o-block__element--modifier
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// regular button
.a-raised__button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 4px;
}

// popup button

// input

// dropdown
