// a/m/o-block__element--modifier
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// regular button
.a-raised__button {
  cursor: pointer;
  text-transform: uppercase;
  padding: spacing(12px) spacing(12px) * 2;
  border-radius: spacing(12px, xs)
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// popup button

// input

// dropdown
