// a/m/o-block__element--modifier
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// regular button
.a-raised__button {
  cursor: pointer;
  text-transform: uppercase;
  padding: spacing(12px) spacing(12px) * 2;
  border-radius: spacing(12px, xs)
}

// popup button

// input

// dropdown
