<div class="o-app-container">
  <div class="m-app-container__div m-content1">
    <header class="m-header">
      <div class="m-header-left">
          <!-- <style>
              .fill-red { fill: red; }
              .fill-blue { fill: blue; }
            </style> -->
          <!-- <div id="test" style="content: url(assets/images/md-eye.svg); width: 20px; height: 20px;color:red"></div> -->
        <!-- <img class="a-header-left__logo"  src="assets/images/md-eye.svg"/> -->
        <object type="image/svg+xml" data="assets/images/md-eye.svg" class="a-header-left__logo">
          Kiwi Logo
        </object>
        <!-- <a href="//www.example.com/"> -->
        <!-- <svg class="a-header-left__logo" style="width: 48px; height: 48px">
            <use xlink:href="assets/images/md-eye.svg#example"></use>
          </svg> -->
          <!-- </a> -->
        <!-- <span>Logo</span> -->
        <span> Product Name</span>
      </div>
      <div class="m-header-center">
        <ul>
          <li>
            <a href="#">Module 1</a>
          </li>
          <li>
            <a href="#">Module 2</a>
          </li>
          <li>
            <a href="#">Module 3</a>
          </li>
        </ul>
      </div>
      <div class="m-header-right">
        <button class="a-raised__button">Dummy</button>
      </div>
    </header>
  </div>
  <div class="m-app-container__div m-content2">
    <ul class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 2</a>
      </li>
      <li>Current Page</li>
    </ul>
  </div>
  <!-- <div class="content2">Breadcrumbs</div>  -->
  <div class="m-app-container__div m-content3">Menu</div>
  <!-- <div class="content4">Main</div> -->
  <div class="m-app-container__div m-content4 sub-grid-container">
    <div class="component1"> Component 1</div>
    <div class="component2"> Component 2</div>
    <div class="component3"> Component 3</div>
  </div>
  <div class="m-app-container__div m-content5">Right</div>
  <div class="m-app-container__div m-content6">Footer</div>
</div>

